@page
@model ExpertPriceCrawler.Web.Pages.QueueModel
@{
}

<div>
    @if (Model.JobIdPresent && !Model.JobCompleted)
    {
        <h1>Anfrage registriert!</h1>
        @if (Model.JobCount == 0)
        {
            <div>Dein Auftrag wird nun bearbeitet</div>
        }
        else
        {
            <div>Deine Anfrage wurde der Warteschlange hinzugefügt.</div>
            <div>Derzeit sind @Model.JobCount Aufträge in der Warteschlange</div>
        }
        <div>
            <p>Sobald das Ergebnis vorliegt, senden wir dir eine Email. Aktuell beträgt die Wartezeit in etwa @((int)Model.EstimatedWaitingTime.TotalMinutes) Minuten</p>
            <p>Bitte auch den SPAM-Ordner prüfen!</p>
        </div>
    }
    else if(Model.JobIdPresent)
    {
        <h1>Deine Anfrage wurde bearbeitet.</h1>
        <p>Bitte prüfe deine Emails oder such dein Ergebnis in der Tabelle weiter unten.</p>
    }
</div>
<br />
<div>
    <h2>Kürzlich gesucht</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Datum (UTC)</td>
                <td>Url</td>
                <td>Ergebnis</td>
            </tr>
        </thead>
        <tbody>
            @if (Model.RecentlyCompletedJobs.Count == 0)
            {
                <tr>
                    <td colspan="99">Sobald Ergebnisse vorliegen, werden diese hier angezeigt.</td>
                </tr>
            }
            @foreach (var item in Model.RecentlyCompletedJobs)
            {
                var id = "result-" + item.Id.ToString("N");
                <tr>
                    <td style="white-space: nowrap;">@item.TimeCreated.ToString(Configuration.Instance.DateFormat)</td>
                    <td>@item.Url</td>
                    <td>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#@id" aria-expanded="false" aria-controls="@id">Anzeigen</button>
                    </td>
                </tr>
                <tr class="collapse" id="@id">
                    <td colspan="99">
                        @Html.Raw(item.ResultTableHtml)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
