@inject ChannelManager channelManager;

@{
    var Model = channelManager.RecentlyCompletedJobs;
    var queueCount = channelManager.JobCount;
}
<style>
    .card {
        height: 100%;
    }

    .card-img-top {
        display: flex;
        align-items: center;
        height: 300px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .img-fluid {
        width: auto;
        max-height: 100%;
        margin: 0 auto;
        display: block;
    }
</style>

<div>
    @if (queueCount > 0)
    {
        <div>
            <a data-bs-toggle="collapse" href="#collapseQueue" role="button">Derzeit sind @queueCount Anfragen in der Warteschlange</a>
            <table id="collapseQueue" class="collapse table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Anfragezeit</th>
                        <th>Url</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var jobInQueue in channelManager.JobsInQueue)
                    {
                        <tr>
                            <td>@jobInQueue.TimeCreated.ToGermanDateTimezoneString()</td>
                            <td>@jobInQueue.CrawlUrl</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    @if (Model.Count > 0)
    {
        <h2>Kürzlich gesucht</h2>
        <div class="mb-3 d-flex justify-content-end">
            <input style="width: 200px;" id="filterInput" class="form-control" type="text" placeholder="Suchbegriff" oninput="filter()">
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
            @foreach (var item in Model)
            {
                <div class="col" data-product="@item.ProductName">
                    <div class="card">
                        <picture class="card-img-top">
                            <img src="@item.ProductImageUrl" class="img-fluid" alt="@item.ProductName">
                        </picture>
                        <div class="card-body">
                            <h5 class="card-title">@item.ProductName</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@item.TimeCreated.ToGermanDateTimezoneString() (@((int)Math.Ceiling((item.TimeCompleted - item.TimeCreated).TotalMinutes))min)</h6>
                            @if (item.Success)
                            {
                                <div>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#result-@item.Id.ToString("N")" class="btn btn-primary">Preise zeigen</a>
                                    <form class="d-inline-block" method="post" action="/">
                                        <input type="hidden" name="CrawlJobPost.Url" value="@item.CrawlUrl" />
                                        @Html.AntiForgeryToken()
                                        <button class="btn btn-primary" type="submit" title="Aktualisieren">
                                            &#128472;
                                        </button>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <span>Error</span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>

        @foreach (var item in Model)
        {
            if (!item.Success)
            {
                continue;
            }
            <div class="modal fade" id="result-@item.Id.ToString("N")" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Preise für @(item.ProductName ?? item.CrawlUrl.ToString())</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @Html.Raw(item.ResultTableHtml)
                        </div>
                    </div>
                </div>
            </div>
        }

    }
</div>

<script>
    function filter() {
        const filterInput = document.getElementById("filterInput");
        const items = document.querySelectorAll('[data-product]');
        for (const item of items) {
            if (item.getAttribute("data-product").toLowerCase().includes(filterInput.value.toLowerCase())) {
                item.style.display = "";
            } else {
                item.style.display = "none";
            }
        }
    }
</script>